    <div  class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          
          <li class="nav-item ">
            <a routerLink="view-employee" class="nav-link" class="btn btn-primary active" role="button" >View Profile</a>
          </li>&nbsp;
          <li class="nav-item">
            <a  routerLink="add-employee" class="nav-link" class="btn btn-primary active" role="button" >Add Profile</a>
          </li>&nbsp;    
          <li class="nav-item">
            <a  routerLink="workflow" class="nav-link" class="btn btn-primary active" role="button" >Workflow Status</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <link rel="icon" type="image/JPG" href="assets/Logo.JPG">     
        </ul>
      </nav>   
        <router-outlet></router-outlet>
    </div>
    